h1{
    color: red;
    
}
label{
    color: white;
}

input{
    cursor: pointer;
}
input:hover{
    background-color: aqua;
}
body{
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.submit{
    color: black;
    background-color: red;
    border: 2px solid blue;
    
    
}
div{
 
    padding: 10px;
    border: 2px solid red;
    text-align: center;
    
    
}
