
.parent{
    border: 1px solid red;
    height: 60vh;
    width: 18vw;
    padding: 10px;
    border-radius: 5%;
    
}
img{
    border-radius: 5%;
    
}
button{
    text-align: center;
    color: rgb(27, 24, 197);
    background-color: aquamarine;
    border-radius: 30%;
    border: 1px solid black;
    padding: 7px;
    
}
.btn{
    text-align: center;
}
span{
    border-radius: 20%;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}